<!-- select printbox start -->
<div class="selectbox selectbox--print">
    <select class="selectbox__voidpicker">
        <option value="">Select A Print</option>
        <option value="{{'Lemme Take a Shellfie' | handleize}}" data-thumbnail="{{ 'shellprint.png' | file_img_url : 'medium' }}">Lemme Take a Shellfie</option>
        <option value="{{'Woof Top Party' | handleize}}" data-thumbnail="{{ 'shellprint_1.png' | file_img_url : 'medium' }}">Woof Top Party</option>
        <option value="{{"You're Peony One For Me" | handleize}}" data-thumbnail="{{ 'shellprint_2.png' | file_img_url : 'medium' }}">You're Peony One For Me</option>
        <option value="{{'Appley Ever After' | handleize}}" data-thumbnail="{{ 'shellprint_3.png' | file_img_url : 'medium' }}">Appley Ever After</option>
    </select>

    <div class="selectbox__print-box">
        <button class="selectbox__btn-select" value="">Select A Print</button>
        <div class="selectbox__print-wrapper">
            <ul id="selectbox__print"></ul>
        </div>
    </div>
</div>
<!-- select printbox END -->