<div class="popup-buy2free1-complte">
  <div class="popup-inner">
    <div class="animation-wrapper"></div>
    
    <span class="btn-popoup-close">X</span>
    
    <div class="popup-logo text-center">
      <span class="popup-logo-text">Little Bum Bums</span>
    </div>
    <h5 class="popup-title text-center">{{section.settings.title1}}</h5>
    <h5 class="popup-title2 text-center">{{section.settings.title2}}</h5>
    
    <div class="popup-items">
      <div class="popup-item" data-index="0">
        <img src="">
      </div>
      
      <div class="popup-item" data-index="1">
        <img src="">
      </div>
      
      <div class="popup-item" data-index="2">
        <img src="">
      </div>
      
    </div>
    
    <span class="popup-text1">{{section.settings.review_text}}</span>
    
    <form action="/checkout" method="post">
    	<button type="submit" class="button btn-checkout cart__checkout">{{section.settings.button_text}}</button>
    </form>
    
    <div class="star-wrapper">
      <span class="stamped-starrating stamped-badge-starrating" aria-hidden="true"><i class="stamped-fa stamped-fa-star" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" aria-hidden="true"></i></span>
    </div>
    
    <div class="reviews">
      <p>{{section.settings.testimonial1}}</p>
      <p>{{section.settings.testimonial2}}</p>
    </div>
    
  </div>
</div>