{% style %}
    body {
      background-color: #000;
    }
    .dtc-password-page__image {
      background: url({{ section.settings.background-image | img_url: 'master' }});
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .dtc-password-page__image-mobile {
        position: none;
    }

    .password-page__wrapper {
      color: #fff;
    }
    .password-page__wrapper hr {
      border-color: inherit;
    }
    .access-div{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .dtc-password-page {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .dtc-password-page .password-page__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 0px;
      width: 925px;
      height: 506px;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;    
    }
    .enter-btn{
      background: #000000;
      max-width: 184px;
      max-height: 43px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 35px;
      gap: 10px;
      color: white !important;
      margin-top: 15px;

    }

    .bottom-div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #D2D2D2;
      margin-top:30px;
      padding-top: 30px; 
      gap: 40px;
    }
    
    .access-community{
      display: flex;
      flex-direction: column;   
    }

    .join-fb{
      display: flex;
      align-items: center;
      padding: 10px 16px;
      gap: 10px;
      max-width: 199px;
      max-height: 38px;
      background: #1976D2;
      color: white !important;
    }
    .logo{
      margin-bottom: 20px;
    }

    .password-page__hero{
      font-family: 'Futura';
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 31px;
      text-align: center;
      color: #000000;
    }

@media (max-width: 768px){

      .dtc-password-page .password-page__content{
      width: 350px;
      height: 601px;
    }
      .bottom-div{
      flex-direction: column;
      gap: 10px;
    }

    .access-div{
      width: 70%;
    }

    .password-page__hero{
      font-family: 'Futura';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #000000;
    }

    .dtc-password-page__image {
        position: none;
    }

    .dtc-password-page__image-mobile {
      background: url({{ section.settings.background-image-mobile | img_url: 'master' }});
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

}
  {% endstyle %}
<div class="page-width">
  <div class="dtc-password-page">
    <div class="password-page__content">

      <div class="logo">
          <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/Bums_Roses_Formerly_LBB_Logo-min_300x_2x_1.svg?v=1666039559">
      </div>

      {% unless section.settings.title == blank %}
        <h2 class="password-page__hero">{{ section.settings.title }}</h2>
      {% endunless %}

      {% comment %}
        Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
      {% endcomment %}
      {% unless shop.password_message == blank %}
        <div class="password-page__message">
            {{ section.settings.subtitle }}
        </div>
      {% endunless %}

     <div class="access-div">
        <span>{{ section.settings.access-heading }}</span>
        <a class="enter-btn js-modal-open-login-modal" href="#LoginModal" ><span>Enter store</span><img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/lock.svg?v=1666034278"></a>
     </div>
     <div class="bottom-div">
      <div class="access-community">
          <span class="span-one">{{ section.settings.community-span-one }}</span>
          <span class="span-two">{{ section.settings.community-span-two }}</span>
      </div>
      <div>
        <a href="{{ section.settings.button-link }}" class="join-fb">{{ section.settings.facebook-span }}</a>
      </div>
     </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Content",
    "class": "password-page__main",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "🚨 EARLY ACCESS DROP IN PROGRESS! 🚨"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub-Heading",
        "default": "(Store reopens to the public at 2pm PST)"
      },
      {
        "type": "text",
        "id": "access-heading",
        "label": "Access Heading",
        "default": "Early access members enter using password here:"
      },
      {
        "type": "text",
        "id": "community-span-one",
        "label": "Community span",
        "default": "Not part of the early access community?"
      },
      {
        "type": "text",
        "id": "community-span-two",
        "label": "Community span 2",
        "default": "Gain access to exclusive future drops here:"
      }, 
      {
        "type": "text",
        "id": "facebook-span",
        "label": "Facebook button Label",
        "default": "Join Facebook Group"
      },
      {
        "type": "url",
        "id": "button-link",
        "label": "Facebook Button link"
      },
      {
        "type": "image_picker",
        "id": "background-image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "background-image-mobile",
        "label": "Mobile Background Image"
      }
    ]
  }
{% endschema %}

