<div class="dtc-value-props-desktop">
    <div class="top-section">
        <h1>{{ section.settings.title }}</h1>
        <h4>{{ section.settings.subtitle }}</h4>
    </div>
    <div class="mid-section">
            <div class="circles">
                <span>{{ section.settings.first-span }}</span>
                <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/Hypocomparison.svg?v=1666372935" loading="lazy" width="57" height="75">
            </div>
            <div class="circles">
                <span>{{ section.settings.second-span }}</span>
                <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/spray-bottle_1_1.svg?v=1666372935" loading="lazy" width="57" height="75">
            </div>
            <div class="circles">
                <span>{{ section.settings.third-span }}</span>
                <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/baby-boy_1comparison_icons.svg?v=1666372935" loading="lazy" width="57" height="75">
            </div>
            <div class="circles">
                <span>{{ section.settings.fourth-span }}</span>
                <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/eco_1comparison_icons.svg?v=1666372935" loading="lazy" width="57" height="75">
            </div>
    </div>
    <div class="bottom-section">
        <a href="{{ section.settings.btn-url }}" class="our-story">{{ section.settings.btn-span }}</a>
    </div>
</div>

{%- comment -%} MOBILE {%- endcomment -%}

<div class="dtc-value-props-mobile">
    <div class="top-section">
        <h1>{{ section.settings.title }}</h1>
        <h4>{{ section.settings.subtitle }}</h4>
    </div>
    <div class="mid-section-mobile">
        <div class="circles-div-mobile">
            <div class="circles">
                <span>{{ section.settings.first-span }}</span>
                <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/Hypocomparison.svg?v=1666372935" loading="lazy" width="57" height="75">
            </div>
            <div class="circles">
                <span>{{ section.settings.second-span }}</span>
                <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/spray-bottle_1_1.svg?v=1666372935" loading="lazy" width="57" height="75">
            </div>
        </div>
        <div class="circles-div-mobile">
            <div class="circles">
                <span>{{ section.settings.third-span }}</span>
                <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/baby-boy_1comparison_icons.svg?v=1666372935" loading="lazy" width="57" height="75">
            </div>
            <div class="circles">
                <span>{{ section.settings.fourth-span }}</span>
                <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/eco_1comparison_icons.svg?v=1666372935" loading="lazy" width="57" height="75">
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <a href="{{ section.settings.btn-url }}" class="our-story">{{ section.settings.btn-span }}</a>
    </div>
</div>


<style>
.dtc-value-props-desktop{
    width: 100vw;
    max-height: 508px;
    background: #F7F2EA;
    padding: 40px 0px;
}

.dtc-value-props-mobile{
    display: none;
}

.top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-section > h1{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 32.68px;
    line-height: 45px;
    color: #000000;
}

.top-section > h4{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-transform: none;
    letter-spacing: 0;
}

.mid-section{
    display: grid;
    width: 100vw;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.circles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:calc(100vw / 6);
    height:calc(100vw / 6);
    border-radius:51%;
    float:left;
    margin:6px;
    background: #FFFFFF;
    justify-self: center;

}

.circles > img{
    max-width: 57px;
    max-height: 75px;
}

.circles > span{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: calc(100vw / 80);
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #363636;
    max-width: 131px;

}

.our-story{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    max-width: 156px;
    max-height: 32px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.bottom-section{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;

}

@media (max-width:1000px){
    .circles > span{
        max-width: 91px;
    }

}

@media (max-width:800px){
    .circles > span{
        max-width: 71px;
        padding-top: 7px;
    }

}


@media (max-width:768px){
    .dtc-value-props-desktop{
        display: none;
    }

    .dtc-value-props-mobile{
        display: block;
        width: 100vw;
        padding: 40px 17px;
        gap: 30px;
        width: 100vw;
        background: #F7F2EA;;
    }

    .top-section{
        text-align: center;
        margin-bottom: 30px;
    }
    .circles-div-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    .circles{
        width:calc(100vw / 2.5);
        height:calc(100vw / 2.5);
        padding: 10px;
    }
    .circles > span{
        font-size: 12px;
        line-height: 19px;
        max-width: 115px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 3px;
    }
    .circles > img{
    max-width: 50px;
    max-height: 50px;
    }
    .top-section > h1{
        font-size: 21px;
        line-height: 29px;
    }

    .top-section > h4{
        font-size: 16px;
        line-height: 22px;
    }

    .bottom-section{
        margin-top: 40px;
}
}

@media (min-width:1750px){

    .circles{
        width: 311px;
        height: 311px;
    }
    .circles > span{
        max-width: none;
        font-size: 20px;
        max-width: 200px;
    }

    .dtc-value-props-desktop{
        max-height: 548px;
    }
    .bottom-section{
        margin-bottom: 20px;
    }
}

{% comment %} .bamboo-value-props{
    display: none;
} {% endcomment %}

</style>



{% schema %}
{
  "name": "Bamboo Value Props",
  "class": "bamboo-value-props",
  "settings": [
    {
     "type": "text",
     "id": "title",
     "label": "Section Title",
     "default": "safe, natural bamboo fabric"
    },
    {
     "type": "text",
     "id": "subtitle",
     "label": "Section Subtitle",
     "default": "The safest & softest material for baby bums."
    },
    {
     "type": "text",
     "id": "first-span",
     "label": "First Circle Text",
     "default": "Hypoallergenic & Antibacterial"
    },
    {
     "type": "text",
     "id": "second-span",
     "label": "Second Circle Text",
     "default": "Non Toxic Materials "
    },
    {
     "type": "text",
     "id": "third-span",
     "label": "Third Circle Text",
     "default": "Eczema & Redness Relief"
    },
    {
     "type": "text",
     "id": "fourth-span",
     "label": "Fourth Circle Text",
     "default": "Sustainable (Eco Friendly)"
    },
    {
     "type": "text",
     "id": "btn-span",
     "label": "Button Text",
     "default": "Read our story"
    },
    {
     "type": "url",
     "id": "btn-url",
     "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Bamboo Value Props"
    }
  ]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}