{% if template contains "collection" %}
  {% if collection.metafields.collection.password_protected.value %}
  <div class="collection-password-popup">
    <div class="page-width" id="collection-password-popup">
    <div class="dtc-password-page">
      <div class="password-page__content" data-text="{{ section.settings.popup_password }}">
        {% if section.settings.logo != blank %}
          <div class="logo">
            <img src="{{ section.settings.logo | img_url: 'master' }}" alt="" />
          </div>
        {% endif %}
        {% if section.settings.title != blank %}
          <h2 class="password-page__hero" data-live-text-setting="section.dtc-password-content.title">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="password-page__message" data-live-text-setting="section.dtc-password-content.subtitle">
            {{ section.settings.description }}
          </div>
        {% endif %}
        <div class="access-div">
          <div class="password-page__signup-form">
            <label for="password" class="hidden-label">password</label>
            <div class="input-group">
              <input type="text" name="password" id="password" class="input-group-field password-field" placeholder="{{ section.settings.placeholder_text }}">
              <div class="input-group-btn">
                <button type="button" class="btn password-button password_submit">{{ section.settings.button_text }}</button>
              </div>
            </div>
            <div class="error-message" data-error="{{ section.settings.error_message }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    {% endif %}
{% endif %}
{% schema %}
  {
    "name": "Password Popup",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "placeholder_text",
        "label": "Placeholder text",
        "default": "Enter password"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Submit"
      },
      {
        "type": "text",
        "id": "popup_password",
        "label": "Popup password",
        "default": "admin@12345"
      },
      {
        "type": "text",
        "id": "error_message",
        "label": "Error message",
        "default": "Password not matched!"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}